@use '@angular/material' as mat;

@import 'tailwindcss';

html {
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md;
  }
}

img {
  user-select: none;
}

.wrapper {
  @apply max-w-screen-2xl mx-7;
}

.text-primary {
  color: #005cbb;
}

button.match-input-height {
  height: var(--mat-form-field) !important;
}
