@use '@angular/material' as mat;

@import 'tailwindcss';

html {
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md;
  }
}

img {
  user-select: none;
}

.wrapper {
  @apply max-w-screen-2xl mx-7;
}

.text-primary {
  color: #005cbb;
}

button.match-input-height {
  height: 56px !important;
  line-height: 56px !important;
  padding: 0 16px !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;
  --mdc-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mdc-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}
